<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/main.css">
</head>

<body data-instant-allow-query-string data-instant-allow-external-links>
    <header class="site-header">
        <div class="wrapper-header">
            <div class="header-left">
                <a class="site-title" href="/">[{date}]</a>
            </div>
            <div class="header-right">
                <a id="theme-toggle" onclick="modeSwitcher()" class="page-link">mode</a>
                <a class="page-link" href="https://github.com/oguzkonya/news/blob/master/README.md">what is this?</a>
            </div>
        </div>
    </header>
    <main class="page-content" aria-label="Content">
        <div class="wrapper-content">
            <article class="post">
                <div class="home">
                    {news}
                </div>
            </article>
        </div>
    </main>
    <footer class="site-footer">
        <div class="wrapper-footer">
            <div class="footer-col-wrapper">
                <a href="https://oguzkonya.com"><span class="icon icon--github">
                    </span><span class="username">oguzkonya.com</span>
                </a>
            </div>
            <div class="copyright">
                © 2020 oguzkonya
            </div>
        </div>
    </footer>
    <script src="/assets/js/modeswitcher.js"></script>
</body>

</html>